# Cache
__pycache__/
.DS_Store

# files
*.svs
*.tiff
*.tif
example
example_intern
notebooks

# local configs
.vscode
tests/tmp_results_folder/*
local_debug

# Build
pathopatch.egg-info/
dist
build
push_build.yml
debug
conda-recipe
conda-build-output

# database
test_database/3DHistech
test_database/XiaLab
test_database/dicom_files
test_database/dicom_leica
dpyproject.toml
mask_ihc.ipynb
pyproject.toml
test_output
